pipeline/COPY_SCRIPT_FILTER.json
{
	"name": "COPY_SCRIPT_FILTER",
	"properties": {
		"activities": [
			{
				"name": "SELECT_TABLE",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_azure_sql",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "select *\nfrom [SalesLT].[TB_ADF_SCRIPT_ACTIVITY]"
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "SELECT_TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SELECT_TABLE').output.resultSets[0]['rows']",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().CustomerID, 10)",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "PIPELINES_ACTIVITIES"
		},
		"annotations": []
	}
}