pipeline/COPY_GETMETADATA_FOREACH_FILTER.json
{
	"name": "COPY_GETMETADATA_FOREACH_FILTER",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generic_delimited_text",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "filesluiz",
							"directory_name": {
								"value": "@toLower('')",
								"type": "Expression"
							},
							"file_name": {
								"value": "@toLower('')",
								"type": "Expression"
							},
							"separator_file": {
								"value": "@toLower('')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter txt",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Folder').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'.txt' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach parquet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter txt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter txt').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "txt_to_parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_generic_delimited_text_2",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "filesluiz",
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										},
										"separator_file": ";"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_generic_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "trusted",
										"file_name": {
											"value": "@replace(item().name,'.txt','.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "PIPELINES_ACTIVITIES"
		},
		"annotations": []
	}
}